.prom {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loading_container {
  width: 50px;
  height: 50px;
}

.loading_container .loading_boxes {
  width: 50px;
  height: 50px;
  fill: none;
  stroke-width: 50px;
  stroke: #43cb85;
  stroke-dasharray: 50;
  stroke-dashoffset: 50%;
  animation: animate 2s linear infinite;
}

@keyframes animate {
  to {
    stroke-dashoffset: 250%;
  }
}

.mainimage {
  width: 750px;
  height: 400px;
}

.mainbox {
  position: relative;
}

.maintext {
  position: absolute;
  z-index: 1;
  left: 50px;
  top: 70px;
}

.sayhello {
  font-size: 20px;
  color: #ffffff;
  margin-bottom: 20px;
}

.textpromo {
  font-size: 30px;
  font-weight: bold;
  color: #ffffff;
}

.main_container {
  position: relative;
}

.content_container {
  padding: 10px 0 20px 0;
  border-radius: 50px;
  background-color: #ffffff;
  position: absolute;
  top: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bar {
  width: 100%;
  height: 7px;
  background-color: #d9d9d9;
  margin-bottom: 30px;
}

.deco {
  width: 80px;
  height: 5px;
  background-color: #d9d9d9;
  border-radius: 50px;
}

.searchbarcontainer {
  position: relative;
}

.searchicon {
  width: 30px;
  opacity: 40%;
  position: absolute;
  right: 10px;
  top: 25px;
}

.searchbar {
  width: 600px;
  height: 45px;
  border-radius: 15px;
  border: 1.5px solid #d9d9d9;
  margin-top: 20px;
  margin-bottom: 25px;
  padding: 0 10px;
  font-size: 14px;
}

.resultcontainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;
  width: 100%;
  padding: 0 22px;
}

.resulttitlecontainer {
  width: 700px;
  margin-bottom: 15px;
}

.resulttitle {
  font-size: 24px;
  font-weight: bold;
  color: #333333;
  /* width: ; */
  margin-bottom: 15px;
}

.qstring1 {
  font-size: 24px;
  color: #418663;
  font-weight: bold;
}

.qstring {
  font-size: 24px;
  color: #418663;
  font-weight: bold;
  margin-bottom: 10px;
}

.noresult {
  font-size: 14px;
  color: #333333;
  opacity: 70%;
}
