.page {
  width: 100%;
  /* height: ; */
  padding: 210px 250px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  /* background-color: antiquewhite; */
}

.title {
  margin-bottom: 10px;
}

.text {
  font-size: 24px;
  color: #333333;
  margin-bottom: 15px;
  font-weight: bold;
}

.gtext {
  font-size: 24px;
  color: #418663;
  font-weight: bold;
}

.imagebox {
  margin-bottom: 50px;
  display: flex;
  align-items: center;
}

.logo {
  width: 100px;
  height: 100px;
  margin-right: 30px;
}

.logotext {
  width: 300px;
  height: auto;
}

.desc {
  font-size: 16px;
  color: #333333;
  opacity: 70%;
}
