.page {
  width: 100%;
  /* height: ; */
  padding: 210px 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.header {
  margin-bottom: 100px;
}

.text1 {
  font-size: 20px;
  color: #418663;
  font-weight: bold;
  margin-bottom: 10px;
}

.text2 {
  font-size: 40px;
  color: #333333;
  font-weight: bold;
}

.body {
}
