.card {
  width: 340px;
  height: 120px;
  /* background-color: blueviolet; */
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
  margin-bottom: 5px;
}

.boxer {
  display: flex;
}

.contentbox {
  width: 200px;
  height: 120px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.title {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 5px;
}

.desc {
  font-size: 14px;
  color: #333333;
  opacity: 80%;
  margin-bottom: 10px;
  display: -webkit-box; /* Flexbox를 기반으로 함 */
  -webkit-box-orient: vertical; /* 세로 방향으로 텍스트 정렬 */
  overflow: hidden;
  -webkit-line-clamp: 2; /* 두 줄에서 텍스트가 넘치면 ... 표시 */
  text-overflow: ellipsis;
}

.img {
  width: 120px;
  height: 120px;
  border-radius: 8px;
}

.number {
  font-size: 18px;
  font-weight: bold;
  color: #418663;
  margin-right: 10px;
}

.iconbox {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.icon {
  width: 16px;
  margin-right: 2px;
}

.icontext {
  font-size: 12px;
  font-weight: bold;
  color: #418663;
  margin-right: 10px;
}

.address {
  font-size: 12px;
  color: #333333;
  opacity: 50%;
  white-space: nowrap; /* 한 줄로 표시 */
  overflow: hidden; /* 넘치는 내용 숨김 */
  text-overflow: ellipsis; /* 넘치는 텍스트를 ...으로 표시 */
}
