.header {
  margin-top: 20px;
  margin-bottom: 20px;
  width: 750px;
}

.pagetitle {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.tagbox {
  display: flex;
  align-items: center;
}

.pagetag {
  border: 1px solid #f1f1f1;
  padding: 5px 10px;
  border-radius: 20px;
  margin-right: 5px;
}

.imgbox {
  width: 750px;
  margin-bottom: 20px;
}

.img {
  width: 750px;
}

.contentbox {
  width: 750;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.content {
  width: 680px;
  color: #333333;
  opacity: 70%;
  font-size: 16px;
  line-height: 25px;
}

.hr {
  width: 750px;
  height: 1px;
  background-color: #333333;
  opacity: 30%;
  margin-bottom: 20px;
}

.introcourse {
  margin-bottom: 20px;
}

.courseintro {
  font-size: 22px;
  font-weight: bold;
}

.coursebackground {
  position: relative;
}

.backbox {
  display: flex;
  justify-content: center;
  position: sticky;
  top: 65px; /* 상단에서 고정될 위치 */
}

.coursebackground {
  width: 1100px;
  height: 1100px;
  position: absolute;
}

.cardcontainer {
  width: 750px;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  margin-bottom: 100px;
}

.greenline {
  width: 8px;
  height: 100%;
  background-color: #418663;
  position: absolute;
}

.leftcardbox {
  width: 750px;
  display: flex;
  justify-content: flex-start;
  position: relative;
}

.rightcardbox {
  width: 750px;
  display: flex;
  justify-content: flex-end;
  position: relative;
}

.rowline {
  width: 375px;
  height: 8px;
  background-color: #418663;
  position: absolute;
  top: 125px;
}

.card {
  width: 330px;
  height: 250px;
  background-color: #ffffff;
  border-radius: 12px;
  box-shadow: 10px 10px 20px 1px rgba(0, 0, 0, 0.2); /* 확산 5px */
  padding: 15px;
  z-index: 10;
}

.cardheader {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 10px;
}

.cardnumber {
  width: 30px;
  height: 30px;
  border-radius: 100%;
  background-color: #418663;
  color: #ffffff;
  text-align: center;
  line-height: 30px;
  font-size: 20px;
  font-weight: bold;
  margin-right: 6px;
}

.cardtitle {
  font-size: 20px;
  font-weight: bold;
  color: #333333;
}

.cardimg {
  width: 100%;
  height: 100px;
  border-radius: 10px;
  margin-bottom: 5px;
}

.bottombox {
  display: flex;
  justify-content: space-between;
}

.cardtagbox {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.cardtag {
  font-size: 12px;
  font-weight: bold;
  width: 50px;
  height: 20px;
  background-color: #c8decb;
  color: #418663;
  text-align: center;
  border-radius: 20px;
  margin-right: 5px;
}

.cardcontent {
  font-size: 14px;
  color: #333333;
  opacity: 70%;
}

.monsterbox {
  margin-right: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.wassudesc {
  font-size: 12px;
  font-weight: bold;
  color: #333333;
}

.gtext {
  color: #418663;
}

.wassu {
  width: 50px;
  height: 50px;
}
