.container {
  margin: 0px 22px;
}

.profilebox {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-top: 20px;
  margin-bottom: 30px;
}

.foralign {
  display: flex;
  align-items: flex-end;
}

.profileimg {
  width: 125px;
  height: 125px;
  margin-right: 10px;
  border-radius: 5px;
  cursor: pointer;
}

.nickname {
  font-size: 24px;
  font-weight: bold;
  color: #333333;
  margin-bottom: 10px;
}

.level {
  font-size: 16px;
  color: #418663;
}

.email {
  font-size: 14px;
  color: #333333;
  opacity: 70%;
}

.buttons {
  height: 125px;
  display: flex;
  align-items: flex-start;
}

.hr {
  width: 100%;
  height: 0.5px;
  background-color: #ccc;
  /* margin-bottom: 20px; */
}

.outbutton {
  border: none;
  background: none;
  color: red;
  margin-top: 10px;
}

.logoutbutton {
  border: none;
  background: none;
  color: #418663;
  margin-right: 10px;
  margin-top: 10px;
}

.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modalContent {
  width: 300px;
  height: 280px;
  background: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.modaltitle {
  font-size: 20px;
}

.modalButtons {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
  width: 120px;
}

.modalButtons button {
  width: 50px;
  padding: 3px 7px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.modalButtons button:first-child {
  background-color: #ffffff;
  border: 1px solid #418663;
  color: #418663;
}

.modalButtons button:last-child {
  background-color: #418663;
  color: white;
}

.previewContainer {
  margin-top: 10px;
  text-align: center;
}

.imgcontain {
  width: 100%;
  display: flex;
  justify-content: center;
}

.previewImage {
  /* max-width: 100%; */
  /* max-height: 200px; */
  width: 125px;
  height: 125px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-top: 10px;
  object-fit: cover;
}

.altimg {
  width: 125px;
  height: 125px;
  border-radius: 5px;
  border: 1px solid #333333;
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 60px;
  color: #333333;
  opacity: 40%;
  cursor: pointer;
}
