.header {
  width: 100%;
  /* background-color: aqua; */
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 22px;
}

.title {
  font-size: 24px;
  font-weight: bold;
  color: #333333;
  margin-bottom: 5px;
}

.iconbox {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.icon {
  margin-right: 3px;
  width: 16px;
}

.icontext {
  font-size: 12px;
  color: #418663;
  font-weight: bold;
  margin-right: 10px;
}

.locationbox {
  display: flex;
  align-items: center;
}

.locationicon {
  width: 18px;
  margin-right: 5px;
}

.location {
  font-size: 12px;
  color: #333333;
  opacity: 60%;
}

.locaimg {
  width: 750px;
  height: 400px;
  margin-bottom: 15px;
}

.detailcontainer {
  width: 100%;
  background-color: #ffffff;
  border-radius: 12px;
  padding: 25px 25px;
  margin-bottom: 30px;
  box-shadow: 10px 10px 20px 1px rgba(0, 0, 0, 0.1);
}

.detailtext {
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 20px;
}

.catetitle {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.cateicon {
  width: 26px;
  margin-right: 5px;
}

.catetext {
  font-size: 14px;
  color: #333333;
  opacity: 70%;
}

.catedesc {
  margin-left: 32px;
  margin-bottom: 30px;
}

.catedesctext {
  font-size: 14px;
  color: #333333;
  opacity: 70%;
  /* width: 650px; */
}

.maindesccontainer {
  padding: 25px 35px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 40px;
}

.catedesctext1 {
  font-size: 14px;
  color: #333333;
  opacity: 70%;
  width: 630px;
  /* text-align: center; */
}

.br {
  background-color: #333333;
  opacity: 10%;
  width: 100%;
  height: 1px;
  margin-top: 20px;
  margin-bottom: 25px;
}

.container1 {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.box1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.icon1 {
  width: 35px;
  height: 35px;
  margin-bottom: 3px;
}

.text1 {
  font-size: 14px;
}

.commentcontainer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
}

.more {
  width: 170px;
  height: 40px;
  background-color: #418663;
  color: #ffffff;
  border: none;
  border-radius: 10px;
  margin-top: 15px;
  cursor: pointer;
}

.prom {
  width: 100%;
  height: 85vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loading_container {
  width: 50px;
  height: 50px;
}

.loading_container .loading_boxes {
  width: 50px;
  height: 50px;
  fill: none;
  stroke-width: 50px;
  stroke: #43cb85;
  stroke-dasharray: 50;
  stroke-dashoffset: 50%;
  animation: animate 2s linear infinite;
}

@keyframes animate {
  to {
    stroke-dashoffset: 250%;
  }
}
